{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}
{% block active_home %}active{% endblock %}
{% block content %}

<div class="container">
    <div class="modal fade" id="noteViewModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen-sm-down">
        <div class="modal-content border-0">
          <div class="modal-header p-0 m-0">
            <button type="button" data-bs-dismiss="modal" class="back-btn btn bi bi-arrow-left float-start" aria-label="Close" >
            </button>
          </div>
          <div class="modal-body p-3 fs-4">
            <div id="noteViewDate" class="text-muted fs-6"></div>
            <hr>
            <div id="noteViewModalContent"></div>
          </div>
          <div class="modal-footer p-0 m-0">
            <button type="button" id="deleteNote-btn" class="delete-btn btn bi bi-trash-fill float-end">
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="newNoteModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
        <div class="modal-content container-fluid border-0 p-0">
          <form method="POST" class="my-0">
            <div class="modal-header p-0 m-0">
              <button type="button" data-bs-dismiss="modal" class="back-btn btn bi bi-arrow-left float-start" aria-label="Close" >
              </button>
              <button type="submit" class="back-btn btn bi bi-check-lg float-end" aria-label="Close" >
              </button>
            </div>
            <div class="modal-body p-3 fs-3">
              <textarea name="note" id="note" class="new-note form-control" placeholder="Type your notes here..."></textarea>
            </div>
          </form>
        </div>
      </div>
    </div>
    <h1 class="m-2 page-head-text">Welcome, {{ user.username }}</h1>
    <hr>
    <div class="row g-3 mb-5" id="notes" data-masonry='{"percentPosition": true }'>
      {% for note in user.notes %}
      <div class="col-6 col-lg-3">
        <div class="card border border-0 p-0 shadow-sm">
          <div class="btn card-body p-3" onclick="noteModal({{ note.id }})" >
            <p class="card-text text-start m-0">{{ truncate(note.data) }}</p>
            <p class="d-none" id="noteContent{{ note.id }}">{{ note.data }}</p>
            <p class="d-none" id="noteDate{{ note.id }}">{{ note.date }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div id="new-note" class="fixed-bottom p-3">
      <button type="button" class="new-note-btn rounded-circle btn-lg btn btn-primary bi bi-journal-plus float-end" onclick="newNoteModal()"></button>
    </div>
  </div>

{% endblock %}
