{% extends 'base.html' %}
{% block title %}
    Sign up
{% endblock %}
{% block content %}
<div class="container">
  <div class="card signup-form m-auto ">
      <div class="card-body login-form-body">
          <form method="POST">
              <div class="my-3">
                  <h2 class="text-center display-2">Sign Up</h2>
              </div>
              <div class="mb-3 form-floating">
                  <input type="email" name="email" id="email" class="form-control form-input" placeholder="Enter your Email">
                  <label for="email" class="form-label">Email</label>
              </div>
              <div class="mb-3 form-floating">
                  <input type="text" class="form-control form-input" id="username" name="username" placeholder="Enter your Username">
                  <label for="username" class="form-label">Username</label>
              </div>
              <div class="mb-3 form-floating">
                  <input type="password" name="password" id="password" class="form-control form-input" placeholder="Enter Password">
                  <label for="password" class="form-label">Password</label>
              </div>
              <div class="mb-3 form-floating">
                  <input type="password" class="form-control form-input" id="password2" name="password2" placeholder="Confirm Password">
                  <label for="password2" class="form-label">Confirm Password</label>
              </div>
              <div class="my-3">
                  <button class="btn login-form-btn w-100" type="submit">Sign Up</button>
              </div>
          </form>
          <div class="text-center">
            <small>Already have an account?
                <a class="text-decoration-none" href="/login">Log in</a>
            </small>
          </div>
      </div>
  </div>
</div>
{% endblock %}