{% extends 'base.html' %}
{% block title %}
    Register
{% endblock %}
{% block active_register %}active{% endblock %}
{% block content %}
<!-- <form method="POST">
  <h3 class="text-center" >Sign Up</h3>
  <div class="mb-3 form-group">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
  </div>
  <div class="mb-3 form-group">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Enter your Username">
  </div>
  <div class="mb-3 form-group">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
  </div>
  <div class="mb-3 form-group">
    <label for="password2" class="form-label">Password (Confirm)</label>
    <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
<div class="container">
  <div class="card login-form m-auto ">
      <div class="card-body login-form-body">
          <form method="POST">
              <div class="my-3">
                  <h3 class="text-center">Login</h3>
              </div>
              <div class="mb-3 form-floating">
                  <input type="email" name="email" id="email" class="form-control form-input" placeholder="Enter your Email">
                  <label for="email" class="form-label">Email Address</label>
              </div>
              <div class="mb-3 form-floating">
                  <input type="text" class="form-control form-input" id="username" name="username" placeholder="Enter your Username">
                  <label for="username">Username</label>
              </div>
              <div class="mb-3 form-floating">
                  <input type="password" name="password" id="password" class="form-control form-input" placeholder="Enter Password">
                  <label for="password">Password</label>
              </div>
              <div class="mb-3 form-floating">
                  <input type="password" class="form-control form-input" id="password2" name="password2" placeholder="Confirm Password">
                  <label for="password2">Password (Confirm)</label>
              </div>
              <div class="my-3">
                  <button class="btn btn-primary w-100" type="submit">Submit</button>
              </div>
          </form>
      </div>
  </div>
</div>
{% endblock %}