{% extends 'base.html' %}
{% block title %}
    Welcome to onlynotes
{% endblock %}
{% block content %}
  <div class="px-4 pt-5 my-5 text-center">
    <h1 class="brand-display display-4 fw-bold text-body-emphasis"><i class="bi bi-sticky"></i> OnlyNotes</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
          Begin your streamlined note-taking journey today with this uncomplicated app,
          enabling your ideas to shine as you embrace the elegance of simplicity.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <!-- <a role="button" class="btn sign-up-btn btn-lg px-4 gap-3" href="/sign-up">Sign Up</a> -->
        <a role="button" class="btn get-started-btn btn-lg px-4" href="/sign-up">Get Started</a>
      </div>
    </div>
    <div>
      <div class="container px-5">
        <img src="../static/screenshot.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>

  </div>
{% endblock %}
