body {
    background-color: rgb(226, 223, 255);
}

.main_container {
    margin-top: 4rem!important;
}

.navbar {
    background-color: rgb(226, 223, 255);
}
.card {
    background-color: whitesmoke;
}

.card > .card-body.btn:active {
    border-color:transparent;
}

.back-btn {
    font-size: 25px;
}

.delete-btn {
    color: rgb(220,53,69);
    opacity: .55
}

.delete-btn:hover {
    opacity: 1;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    border-color:transparent;
}